<h3>Sentences</h3>

{{#if canCreateTopic}}
  <button class='btn btn-default' {{action createTopic}}>Create Sentence</button>
{{/if}}

<br/>
Sort by:

{{#if isSortedbyDate}}
  date |
  <a href='#' {{action changeSortTo 'sentence'}}>sentence</a>
{{else}}
  <a href='#' {{action changeSortTo 'date'}}>date</a>
  | sentence
{{/if}}

<br/>

Order:

{{#if sortAscending}}
  ascending |
  <a href='#' {{action toggleOrder}}>descending</a>
{{else}}
  <a href='#' {{action toggleOrder}}>ascending</a>
  | descending
{{/if}}

<table class='table'>
  <thead>
    <tr>
      <th>name</th>
      <th>sen</th>
      <th>asked</th>
      <th>answers</th>
    </tr>
  </thead>
  {{#each controller}}
    <tr>
      <td>{{id}}</td>
      <td>{{#link-to 'sentence' id}}{{sentence}}{{/link-to}}</td>
      <td>{{#link-to 'user' user.id}}{{user.name}}{{/link-to}}</td>
      <td>{{answers_count}}
    </tr>
  {{/each}}
</table>
